
<h1>Add a score</h1>
<link type="text/css" rel='stylesheet' href='/css/style.css' />
<div class ="info">
<form method="POST" action = "/scores">
    <fieldset>
        <label for="name">Name:</label>
        <input id="name" type="text" name="name" placeholder="Enter name">
    </fieldset>
    <fieldset>
        <label for="score">Score:</label>
        <input id="score" type="text" name="score" placeholder="Enter score">
    </fieldset>
</info>
<button>Add Score</button>

<nav>
    

<a href="/scores">Home</a>
    
</nav>
</form>



<!-- <%- include('./partials/footer.ejs') %> -->